//=============================================================
// color @ 18/2/1
//=============================================================

/* Colors def
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Social 社群
$fbC      : #3b5998;
$igC      : #d52876;
$gpC      : #dd4b39;
$liC      : #00bb25;
$wbC      : #f27425;
$plC      : #a3390e;
$twC      : #38b4ef;
$ytC      : #ff0202;

// Cool
$aqua     : #7FDBFF;
$dqBlue   : #00a2e4;
$blue     : #0074D9;
$ltBlue   : #3192D5;
$navy     : #001F3F;
$teal     : #39CCCC;
$green    : #2ECC40;
$olive    : #3D9970;
$lime     : #01FF70;

// Warm
$yellow   : #FFDC00;
$mkYellow : #FFEE97;
$orange   : #FF851B;
$red      : #FF4136;
$fuchsia  : #F012BE;
$purple   : #B10DC9;
$maroon   : #85144B;

// Gray Scale
$silver   : #ddd;
$gray     : #aaa;
$black    : #111;


