/* 隱藏畫面，以防止在數據還未加載完時出現閃爍的情況 */
[v-cloak] { display: none }

/* 路由切換時的過渡特效
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nuxt-progress {
  z-index: 99!important;
}

/* material-design-icon setting
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.material-design-icon svg {
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

/* sns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fb {color: $fbC; fill: $fbC;}
.ig {color: $igC; fill: $igC;}
.gp {color: $gpC; fill: $gpC;}
.li {color: $liC; fill: $liC;}
.wb {color: $wbC; fill: $wbC;}

/* wrap
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrap {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav__title {
  @include hide-text;
}

/* main-conten
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 5rem 0;
  min-height: calc(100vh - 55px);
  width: 100vw;
}

/* page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page {
  // 上蓋
  &-canopy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-iems: center;
    &__bg {
      background-color: $color-bg;
      background-position: center center;
      background-size: cover;
      display: block;
      width: 100%;
      height: 15rem;
      transition: all 150ms; transition-delay: 100ms;
      @include mq(md) {
        // background-attachment: fixed;
        height: 20rem;
      }
    }
    .profileAvatar {
      position: relative;
      margin-top: -45px;
      @include mq(md) {
        margin-top: -64px;
      }
    }
    .avater {
      // border: 5px solid $color-init;
      box-shadow: 0 0 0 3px $color-init;
    }
  }
  // 內容
  &-content {
    margin: 0 auto;
    width: 90vw;
    @include mq(md) {
      max-width: 700px;
    }
  }
}

/* headline
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.headline {
  // background: #fff;
  margin-bottom: 3rem;
  padding: 2rem 0;

  &--full {
    font-size: 15.625vw;
    line-height: 15vw;
  }
}



.info {
  font-size: 1.65rem;
  color: $color-info;
  &--sub {
    font-size: 1.45rem;
    color: $color-sub-info;
  }
}


/* profile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.account {
  &__group {
    display: inline-block;
    flex: 1 1 auto;
    .user-name, .user-account {
      display: block;
      word-break: break-word;
    }
    .user-name {
      // margin-bottom: .5rem;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.625rem;
    }
    .user-account {
      font-size: 1.5rem;
      color: $color-info;
    }
  }
}


// .component-fade-enter-active, .component-fade-leave-active {
//   display: inline-block;
//   transition: background .5s;
//   background: $color-highlight;
//   border-radius: .35rem;
//   color: #fff;
// }
// .component-fade-enter, .component-fade-leave-to {
//   display: none;
// }

/* list
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list {
  padding: 0 0 2rem 0;
  list-style: none;
  &__title {
    font-size: 2.7rem;
    border-bottom: none!important;
  }
  &__item {
    // display: flex;
    // flex-direction: column;
    margin: 0 auto;
    padding: 2rem .2rem;
    border-bottom: 1px solid $color-border;
    @extend .justBetween;
    // @include mq(md) {
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    // }
  }
  &__box-title {
    font-size: 2.1rem;
    font-weight: 300;
    color: #000;
    svg {
      position: relative;
      top: .35rem;
      display: inline-block;
      width: 100%;
      @include square(2rem);
    }
  }
  &__box {
    flex: 1 1 auto;
    p {
      margin: 0;
    }
    input[type='text'],
    input[type='url'],
    textarea {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__btn-box {
    flex: 0 0 auto;
    padding: 1rem 0 0 0;
    min-width: 140px;
    @include mq(md) {
      padding: 0 0 0 5rem;
      text-align: center;
    }
  }
}


/* justBetween
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.justBetween {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


/* content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  &__wrap {
    width: 100%;
  }
  &__header {
    background: rgba(#000, .05);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 0 2rem 0;
    padding: 1rem 0;
    width: 100%;

    .inner-wrap {
      align-self: center;
      width: 80%;
      line-height: 2em;
      @include mq(md) {
        width: 88%;
      }
      @include mq(lg) {
        padding: 0 .5vw;
        width: 94%;
      }
    }
  }
}



/* masonry
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.masonry {
  &__wrap {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding: 1.5rem 0;
    @include mq(md) {
      flex-flow: row wrap;
      margin: 0 auto 3rem auto;
      width: calc(90vw + 4rem);
    }
    @include mq(lg) {
      width: calc(62vw + 4rem);
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    @include mq(md) {
      padding: 0 2rem 0 0;
      width: calc(100% / 2);
      &:first-child {
        padding-left: 2rem;
      }
    }
  }
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 auto 2rem auto;
    background: #fff;
    box-shadow: 0 0 80px rgba(#000, .15);
    width: 90vw;
    overflow: hidden;
    border-radius: .5rem;

    .quiz & {
      @extend .animated;
      @extend .flipInY;
    }
    @include mq(md) {
      &, .item__box.rank-items {
        width: 100%;
      }
    }
    .item__box.rank-items:last-child {
      border-bottom: none;
    }

    &-cover {
      background-size: contain;
      background-position: center center;
      height: 200px;
    }

    .main, .sub {
      display: block;
      padding: 2rem;

      strong {
        font-size: 2rem;
        font-weight: 700;
      }
      .content {
        margin-top: .5rem;
      }
      .infoBar {
        margin-top: 0;
        justify-content: center;
      }
    }
    .sub {
      background: #d0d0d0;
      h2 i, h3 i {color: #fff;}
    }
    h2, h3 {
      margin-bottom: 0;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
      line-height: 2.5rem;
      & + ul, & + p, & + div {
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
    .appBar__title i {
      position: relative;
      top: -3px;
    }
    .line-share {
      top: 4px;
      margin-left: .5rem;
    }
  }
}
.number {
  font-family: Arial, sans-serif;
}
.content {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  letter-spacing: -.003em;
}



/* canopy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.canopy {
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    width: 100%;

    .btn {
      box-shadow: 0 10px 30px rgba($color-brand, .5);
    }
  }
  &__title {
    font-size: 2rem;
  }
}


/* emptyPage
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.emptyPage {
  text-align: center;
  &__icon {
    margin: 1rem 0;
    i {
      font-size: 10rem;
      color: #888;
    }
  }
  &__title {
    font-size: 4rem;
    color: #888;
  }
  &__msg {
    padding-bottom: 2rem;
    font-size: 2rem;
  }
}


/* info-box
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info-box {
  margin-left: 1.6em;
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  color: $color-sub-info;

  &__number {
    display: inline-block;
    padding: 0 .1rem;
    font-size: 1.4rem;
    font-weight: bold;
    width: 1.4em;
    text-align: right;
  }
  &__marker {
    display: inline-block;
    padding: 0 .5rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    font-size: 1.2rem;
    i {
      position: relative;
      top: -1px;
      margin-right: .5rem;
      font-size: 1.2rem;
    }
  }
}


/* non-results 尚無議題
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.non-results {
  margin: 0 auto;
  width: 80%;
  color: #999;
  @include mq (md) {
    width: 88%;
  }
  @include mq (lg) {
    width: 92%;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  span {
    display: block;
    margin-left: .3rem;
    font-size: 2rem;
  }
}


/* pagination
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagination {
  display: flex;
  margin: 1rem auto 3rem auto;
  span {
    background: #fff;
    display: inline-block;
    margin: 0 .5rem;
    padding: 0 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 30px rgba(#000, .15);
    text-align: center;
    line-height: 2em;
    font-size: 1.4rem;
    color: #888;
    cursor: pointer;
    &.curr, &:hover {
      background: $color-brand;
      color: #FFF;
    }
  }
}


/* badge
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.badge {
  position: relative;
  padding: 0 .5rem;
  border-radius: .3rem;
  text-align: center;
  line-height: 1.2em;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}


/* mask
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mask {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: table;
  transition: opacity 300ms ease;
}


/* tags
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tag {
  display: inline-block;
  // background-color: #e0e0e0;
  padding: .3rem .5rem;
  border: 1px solid transparent;
  line-height: 1.4rem;
  font-size: 1.2rem;
  color: $color-sub-info;
  transition: all 300ms; transition-delay: 100ms;

  &--o {
    border: 1px solid rgba(#000, .3);
    border-radius: .3rem;
  }
}

  // page::index ––––––––––––––––––––––––
.catalogs {
  &__box {
    // background: $color-dark-20;
    padding: 2vh 1vw;
  }
}
  .catalog {
    position: relative;
    display: block;
    padding: 0 1rem;
    width: 100%;
    height: 3.5rem;
    color: $color-sub-info;
    transition: all 300ms; transition-delay: 100ms;
    &:hover {
      color: #000;
      background: $color-bg;
      font-weight: bold;
    }
  }

$catList: #DCEDC2 #B9F9FF #FECEA8 #FDAED8 #deb2ca;
$txtList: #7EB19F #3498DB #F98903 #F361AF #ba2564;

@each $catColor in $catList {
  $i: index($catList, $catColor);
  // .cid-#{$i} {
  //   background-color: transparent;
  //   // background-color: lighten($catColor, 5%);
  //   // border: 1px solid nth($txtList, $i);
  //   color: nth($txtList, $i);
  // }

  .cid-#{$i} {
    background: nth($txtList, $i);
    // border: 1px solid nth($txtList, $i);
    color: #fff;
  }
  .ccid-#{$i} {
    color: nth($txtList, $i);
  }
  .tag--o.ccid-#{$i} {
    border: 1px solid nth($txtList, $i);
  }

  .pop-list .cat-nav__item-#{$i}:hover {
    color: nth($txtList, $i);
    border-bottom: 1px solid nth($txtList, $i);
  }

}

/* commemt
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.comment {
  background-color: $color-init;
  padding: .5vw 2vw;
  @include mq(md){ flex: 2 58vw; }

  &__title {
    display: flex;
    align-items: center;
  }
  &__count {
    display: inline-block;
    margin-left: 1rem;
    padding: 0 .35rem;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #a0a0a0;
  }

  // 回應 ––––––––––––––––––––––––
  &__box {
    position: relative;
    padding: 2vw;
  }
    &__content {
      margin: .3rem 2.5rem 0 5.5rem;
      p {margin: 0 0 1.6rem 0;}
    }
    // 功能 ––––––––––––––––––––––––
    &__func {
      margin: 1rem 0 0 5.5rem;

      a {
        color: rgba(#000, .2);
        &:hover {
          color: $color-brand;
        }
      }
    }
    .count {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: bold;
      color: $color-sub-info;
    }
}



/* utillty
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hide {display: none;}

.nav {
  list-style: none;
  padding: 0;
  li {display: inline-block;}
  a {
    display: inline-block;
    text-decoration: none;
  }
}


.func {
  width: auto;
  &__list {
    a {
      // @include square(3rem);
      min-width: 3rem;
      line-height: 3rem;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}


.col-box{
  display: flex;
  align-items: center;
  &__start {
    @extend .col-box;
    justify-content: flex-start;
  }
  &__end {
    @extend .col-box;
    justify-content: flex-end;
  }
  &__between {
    @extend .col-box;
    justify-content: space-between;
  }
}

.img-box {
  display: inline-block;
  img {
    display: inline-block;
    max-width: 100%;
  }
}


.tab {
  &__bar{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__bar-item {
    margin-right: 1.6rem;
    font-size: 3rem;

    a {
      color: #ccc;
      // &.curr, &:hover {}
    }
  }
}


/* mark
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mark {
  // display: inline-block;
  display: inline;
  position: relative;
  user-select: none;
  white-space: nowrap;
  // background-color: $black;
  color: #000;
  animation-name: reveal-text;
  &:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
  &, &:after {
    border-radius: .3rem;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  &.dl2s, &.dl2s:after{animation-delay: 2.5s;}
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer-text {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}


/* hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  padding: 3rem;
  max-width: 100%;

  &__biggest-icon {
    display: block;
    font-size: 10rem;
    color: $color-border;
  }
  &__info {
    margin: 3rem 0;
    color: #555;
  }
  .btn {margin: 0 1rem;}
}


/* overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.overlay__blur {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .wrap {
    // filter: invert(100%);
    filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    &:after {
      display: block;
      width: 100vw;
      height: 100vh;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      background-color: rgba(#000, .7);
    }
  }
}

