/*
* @Author: asamoon
* @Date:   2017-05-19 12:00:08
* @Last Modified by:   asamoon
* @Last Modified time: 2017-05-19 12:00:11
*/

/* Colors Set
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-init         : #f1f2f1;
$color-border       : #d1d1d1;
$color-blod_border  : #a1a1a1;
$color-highlight    : $yellow;
// $color-highlight    : #b4e7f8;

$color-font         : rgba(#000, .87);
$color-lighten_font : rgba(#000, .52);

$color-brand        : $dqBlue;

$color-bg           : #ecedef;
$color-dark_bg      : #333333;

// $code_highlight_theme       : github;
// $override_code_highlight_bg : #F9FAFC;

$color-info    : #0088cc; // Blue
$color-success : #377f31; // Green
$color-danger  : #880e14; // Red
$color-warning : #dba909; // Yellow
$color-code    : #dd1144;
