/*
* @Author: asamoon
* @Date:   2016-10-29 21:49:32
* @Last Modified by:   asamoon
* @Last Modified time: 2018-02-01 14:41:39
*/


//=============================================================
// variables @ 18/02/01
//=============================================================
/* Theme Set
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "utility/color";
@import "theme/theme-d";

/* Web Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-family-init: 'Open Sans', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$font-primary: sans-serif;
$font-size-init: 1.8em;


/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/**
  * 媒体查询--PX,EM or REM?
  * https://zellwk.com/blog/media-query-units/
  * http://www.w3cplus.com/css/media-query-units.html
  */
$breakpoints: (
  'sm'  : ( min-width : 32em ),   // 512px
  'md'  : ( min-width : 40em ),   // 640px
  'lg'  : ( min-width : 64em ),   // 1024px
  'xl'  : ( min-width : 90em ),   // 1440px
  'xxl' : ( min-width : 120em )   // 1920px
);


/* Sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$full-width          : 100%;
$full-max-width      : 112.0rem;
$container-width     : 88%;
$container-max-width : 80.0rem;

