/*
* @Author: asamoon
* @Date:   2016-10-29 21:49:32
* @Last Modified by:   asamoon
* @Last Modified time: 2017-06-29 18:29:22
*/


/* Colors def
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Social 社群
$fbC      : #3b5998;
$gpC      : #dd4b39;
$wbC      : #f27425;
$plC      : #a3390e;
$twC      : #38b4ef;
$ytC      : #ff0202;

// Cool
$aqua     : #7FDBFF;
$dqBlue   : #00a2e4;
$blue     : #0074D9;
$ltBlue   : #3192D5;
$navy     : #001F3F;
$teal     : #39CCCC;
$green    : #2ECC40;
$olive    : #3D9970;
$lime     : #01FF70;

// Warm
$yellow   : #FFDC00;
$mkYellow : #FFEE97;
$orange   : #FF851B;
$red      : #FF4136;
$fuchsia  : #F012BE;
$purple   : #B10DC9;
$maroon   : #85144B;

// Gray Scale
$silver   : #ddd;
$gray     : #aaa;
$black    : #111;



//=============================================================
// variables @ 16/03/24
//=============================================================
/* Web Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// @import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-init: "Source Sans Pro", "Hiragino Sans GB", 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Microsoft Yahei', 'STHeitiTC-Light', 'Arial', sans-serif;
// 'Hiragino Mincho ProN', 游明朝, YuMincho, 'ヒラギノ明朝 Pr6 W6', HGS明朝E, メイリオ, 'ＭＳ Ｐ明朝', 'MS PMincho', Meiryo, serif;
$font-primary: sans-serif;
// $font-primary: 'Roboto', Osaka, sans-serif;

$size-font-init: 1.8em;


/* Colors Set
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "theme/theme-d";


/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Breakpoints
// $bp-xsmall : 20em;
// $bp-small  : 30em;
// $bp-medium : 40em;
// $bp-large  : 60em;
// $bp-xlarge : 80em;
/**
  * 媒体查询--PX,EM or REM?
  * https://zellwk.com/blog/media-query-units/
  * http://www.w3cplus.com/css/media-query-units.html
  */
$breakpoints: (
  'sm'  : ( min-width : 32em ),   // 512px
  'md'  : ( min-width : 40em ),   // 640px
  'lg'  : ( min-width : 64em ),   // 1024px
  'xl'  : ( min-width : 90em ),   // 1440px
  'xxl' : ( min-width : 120em )   // 1920px
);


/* Sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$full-width          : 100%;
$full-max-width      : 112.0rem;
$container-width     : 88%;
$container-max-width : 80.0rem;

