/*
* @Author: asamoon
* @Date:   2016-10-29 21:49:32
* @Last Modified by:   asamoon
* @Last Modified time: 2017-05-18 14:11:33
*/
@import "math";

/* 畫圓
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin circle($r) {
  border-radius: 50%;
  width: #{$r};
  height: #{$r};
  }


/* 溢出文字用省略號點代替
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: pre-wrap;
  white-space: nowrap;
  }


/* 隱藏文字
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/* Reaina Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin img-retina($img-1x, $img-2x, $width-1x, $height-1x){
  background-image: url("#{$img-1x}");
  @media
  only screen and (-webkit-min-devic-pixel-ratio : 2),
  only screen and (min-moz-devic-pixel-ratio     : 2),
  only screen and (-o-min-devic-pixel-ratio      : 2),
  only screen and (min-devic-pixel-ratio         : 2),
  only screen and (min-resolution                : 192dpi),
  only screen and (min-resolution                : 2dppx){
    background-image: url("#{$img-2x}");
    background-size: #{$width-1x} #{$height-1x};
    }
  }


/* 尺寸快設
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin size($w, $h){
  width: #{$w};
  height: #{$w};
  }


/* 正方形
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin square($size){
  @include size($size, $size);
  }


/* 置中
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin center() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* 垂直置中
 * http://www.oxxostudio.tw/articles/201502/css-vertical-align-7methods.html
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin center-child{
  display: flex;
  align-items: center;
  justify-content: center;
  }

/* Clearfix
 * http://nicolasgallagher.com/micro-clearfix-hack/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin clear-fix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/* 傾斜 Tilted Angles
 * https://www.sitepoint.com/tilted-angles-in-sass/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@function get-tilted-height($angle) {
  $a: (100% / 1%);
  $A: (90deg - $angle);
  $c: ($a / sin($A));
  $b: sqrt(pow($c, 2) - pow($a, 2));
  // @debug $b;
  @return (abs($b) * 1%);
}
@mixin tilted($angle, $color, $position: 'top', $pseudo: 'before') {
  $height: get-tilted-height($angle);

  position: relative;
  background-color: $color;

  &::#{$pseudo} {
    content: '';
    padding-top: $height;
    position: absolute;
    left: 0;
    right: 0;

    @if ($position == 'top') {
      bottom: 100%;
      background-image: linear-gradient($angle, $color 50%, transparent 50%);
    } @else {
      top: 100%;
      background-image: linear-gradient($angle, transparent 50%, $color 50%);
    }
  }
}

/* 三角箭頭
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin svg-arrow ($color, $position: up) {

    $degrees: 0;
    $height:  6px;
    $width:   18px;

    @if ($position == down) {
        $degrees: 180 18 6;
    } @else if ($position == left) {
        $degrees: -90 18 18;
        $width: 6px;
        $height: 18px;
    } @else if ($position == right) {
        $degrees: 90 6 6;
        $width: 6px;
        $height: 18px;
    }

    background: no-repeat url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%22#{$width * 2}%22%20height%3D%22#{$height * 2}%22%3E%3Cpath%20fill%3D%22#{$color}%22%20transform%3D%22rotate(#{$degrees})%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E');
    background-size: 100% auto;
    width: $width;
    height: $height;
}


