// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
  border-left: 0.3rem solid $brand_color;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  font-style: nonmal;
  cite{display: block; text-align: right; color: $lighten_font_color;}
  & *:last-child {
    margin: 0;
  }
}
