// btn
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mui-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid transparent;
  border-radius: .3rem;
  outline: none;
  border: none;
  cursor: pointer;

  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1;
  // min-width: rem-calc(80px);

  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  touch-action: manipulation; // IE
  color: #fff;
  transition: all 150ms; transition-delay: 200ms;

  // Remove the Firefox dotted outline
  &::-moz-focus-inner {
    border: 0;
  }
  &.is-disabled,
  &[disabled] {
    // cursor: default;
    cursor: not-allowed;
    opacity: 0.6;
  }


  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative; // IE: prevents shifting when the button is pressed
    transition: opacity 0.3s ease;
    z-index: 1;
  }


  // ==============================
  // color
  // ==============================
  &__type-primary {
    background-color: rgba($color-brand, .8);

    &:hover:not(.is-disabled) {
      background-color: lighten($color-brand, 15%);
      box-shadow: 0 10px 30px rgba($color-brand, .5);
      // background-color: darken($brand-primary, 10%);
    }
  }

  // Facebook
  &__type-facebook {
    background-color: rgba($fbC, .8);

    &:hover:not(.is-disabled) {
      background-color: lighten($fbC, 25%);
      box-shadow: 0 10px 30px rgba($fbC, .5);
    }
  }

  // ==============================
  // size
  // ==============================
  $btn-sm: 1.4rem;
  $btn-md: 1.6rem;
  $btn-lg: 2.3rem;
  $btn-xl: 3.8rem;

  &__size-sm {
    padding: 0 .5rem;
    font-size: $btn-sm;
    height: $btn-sm;
    line-height: $btn-sm;
  }
  &, &__size-md {
    padding: .3rem 1rem;
    font-size: $btn-md;
    line-height: $btn-md;
  }
  &__size-lg {
    padding: .3rem $btn-lg;
    font-size: $btn-lg;
    line-height: $btn-lg;
  }
  &__size-xl {
    padding: .3rem $btn-xl;
    font-size: $btn-xl;
    line-height: $btn-xl;
  }
  &__size-full {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.8rem;
  }
}

// .btn,
// button,
// input[type='button'],
// input[type='reset'],
// input[type='submit'] {
//   background-color: $color-brand;
//   border: .1rem solid $color-brand;
//   border-radius: .4rem;
//   color: $color-init;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 1.6rem;
//   font-weight: 700;
//   height: 3.8rem;
//   letter-spacing: .1rem;
//   line-height: 3.8rem;
//   padding: 0 3.0rem;
//   text-align: center;
//   text-decoration: none;
//   // text-transform: uppercase;
//   white-space: nowrap;
//   transition: .25s; transition-delay: .1s;


//   &:hover,
//   &:focus {
//     background-color: $color-dark_bg;
//     border-color: $color-font;
//     color: $color-init;
//     outline: 0;
//   }

//   &.btn-disabled,
//   &[disabled] {
//     opacity: .3;
//     // cursor: default;
//     cursor: not-allowed;
//     &:hover,
//     &:focus {
//       background-color: $color-brand;
//       border-color: $color-brand;
//       cursor: not-allowed;
//     }
//   }
// }



//   .btn-o {
//     @extend .btn;
//     color: $color-brand;
//     background-color: transparent;
//     &:hover,
//     &:focus {
//       color: $color-font;
//       background-color: transparent;
//       border-color: $color-font;
//     }
//   }

//   .btn-small {
//     @extend .btn;
//     // font-size: 1.4rem;
//     // height: 2.8rem;
//     // line-height: 2.8rem;
//     // padding: 0 1.5rem;
//     height: 2.3rem;
//     line-height: 2.3rem;
//     padding: 0 .5rem;
//   }

//   .btn-large {
//     @extend .btn;
//     font-size: 1.8rem;
//     height: 4.5rem;
//     line-height: 4.5rem;
//     padding: 0 2rem;
//   }

//   .btn-clear {
//     @extend .btn;
//     color: $color-brand;
//     background-color: transparent;
//     border-color: transparent;
//     &:hover,
//     &:focus {
//       color: $color-font;
//       background-color: transparent;
//       border-color: transparent;
//     }
//     &.btn-disabled,
//     &[disabled] {
//       &:hover,
//       &:focus {
//         color: $color-brand;
//       }
//     }
//   }



// .btnBox{margin: 0 auto;
//   .btn, button{margin: 0 auto 1rem auto;}
//   }
